<div class="mainDiv">
  <div class="leftDiv">
    <div class="components">
      <div class="componentsHeader">
        Components
      </div>
      <div class="componentsContent">
        <ng-container *ngFor="let formElement of enumFormElements">
          <div pDraggable="formElements" (onDragStart)="dragStart(formElement)" (onDragEnd)="dragEnd()"
               [style]="{'color': formElement.color, 'border-left': 'thick solid ' + formElement.color}"
               class="formElement">
            <i [ngClass]="'iconCss ' + formElement.icon"></i>
            <div class="formElementText">{{formElement.text}}</div>
          </div>
          <div *ngIf="formElement.seperateAfter" class="cssSeperator"></div>
        </ng-container>

        <div class="cssTextAlignCenter p-mt-6">
          <p-dropdown [autoDisplayFirst]="false" [style]="{'background-color': '#eff3f8;', border: '1px solid #c4ccd5', height: '35px', 'font-size': '11px', width: '130px'}" appendTo="body" [options]="enumFormElements" [(ngModel)]="selectedEnumFormElement" optionLabel="text"></p-dropdown>
          <p-button [disabled]="!selectedEnumFormElement" (onClick)="onClickClearSettings()" label="Clear Settings" icon="pi pi-trash" styleClass="p-button-sm p-button-outlined p-button-danger buttonBg p-mt-1"></p-button>
        </div>

        <div class="cssTextAlignCenter p-mt-3">
          <p-button (onClick)="onClickDownload()" label="Download" icon="pi pi-download" styleClass="p-button-sm p-button-outlined buttonBg"></p-button>
        </div>

        <div class="cssTextAlignCenter p-mt-3">
          <p-button (onClick)="onClickPreview()" label="Preview" icon="pi pi-eye" styleClass="p-button-sm p-button-outlined p-button-help buttonBg"></p-button>
        </div>

      </div>
    </div>
  </div>
  <div class="rightDiv">
    <div id="{{constants.DIV_PANEL_ID}}" class="panel" pDroppable="formElements" (onDrop)="drop()"
         (onDragEnter)="dragEnter($event)" (onDragLeave)="dragLeave($event)">
      <ng-container *ngFor="let components of listComponents; let i = index">
        <app-table (eventEmitterDeleteTableIndex)="eventEmitterDeleteTable($event)" [index]="i" [table]="components.entity" [draggedFormElement]="draggedFormElement"></app-table>
      </ng-container>
    </div>
  </div>
</div>

<p-toast position="bottom-right" key="generalToast"></p-toast>

<p-dialog header="Preview" [(visible)]="displayPreview" [modal]="true" [style]="{width: '80vw'}"
          [draggable]="false" [resizable]="false">
  <div [innerHTML]=" html | sanitizeHtml "> </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displayPreview = false" label="Close" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
